<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Meeting</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Meeting Update Form</h1>
    <form action="{{ url_for('update_meeting', index=index) }}" method="post">
        <label for="topic">Meeting Topic:</label>
        <input type="text" id="topic" name="topic" value="{{ meeting.topic }}" required><br>

        <label for="date">Date:</label>
        <input type="date" id="date" name="date" value="{{ meeting.date }}" required><br>

        <label for="start_time">Beginning Time:</label>
        <input type="time" id="start_time" name="start_time" value="{{ meeting.start_time }}" required><br>

        <label for="end_time">End Time:</label>
        <input type="time" id="end_time" name="end_time" value="{{ meeting.end_time }}" required><br>

        <label for="participants">Participants:</label>
        <input type="text" id="participants" name="participants" value="{{ meeting.participants }}" required><br>

        <input type="submit" value="Güncelle">
    </form>
    <a href="{{ url_for('list_meetings') }}">Show Meetings</a>
</body>
</html>
